{% extends "blog/base.html" %}

{% block content%}
        
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ object.author.profile.image.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <textarea style = "overflow: hidden;"name="" id="" cols="25" rows="1">{{ object.content }}</textarea>
            <a class=" btn btn-outline-success w-100 " href ="{% url 'desc' object.id %}"> Read whole blog  </a>  
            <a class=" btn btn-outline-success " href ="{% url 'post-update' object.id %}">Edit</a>
            <a class=" btn btn-outline-danger " href ="{% url 'post-delete' object.id %}">Delete</a>
            <!-- <a class=" btn btn-outline-success w-33 " href ="{% url 'post-donate' %}" > Charity </a>   -->
            
            <form method='POST'>
              {% csrf_token %}
              {%if user.is_authenticated%}
                {%if clicked%} 
             Liked Already
                  {% comment %} <a>
                    <button class="btn btn-success">Liked Already</button>
                  </a>                  {% endcomment %}
                {%else%}
                    <a>
                      <button type='submit' class="btn btn-outline-primary">Like</button>
                    </a>
                {%endif%}
              {%else%}
                  <h5><a action="{% url 'blog-login' %}">Login</a> to Like this post</h5> 
              {%endif%}
              <br>
              Total Likes
               <strong class="text-secondary">  {{totallikes}} </strong>
            </div>
          </form>
         </div>
        </div>
{%endblock%} 






 